<!DOCTYPE = html>
 
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script> 
</head>
 
<body>
 
<form class="login-form">
  <h2>Log In</h2>
  <div class="error" style="display:none"></div>
  <input type="text" id="login-username" placeholder="Username" />
  <input type="password" id="login-password" placeholder="Password" />
  <input type="button" value="Login"onclick="login()"/>
</form>

<script>
Parse.initialize("I9vGQa62sNbLr1Z9Hxn8xkWoRO3N5Ous0pi7SwMt", "svUBi8O5s00G0Z6PnMpYmPXDbD8FzSz55IHqnbwr");

  function login(){
        Parse.User.logIn(document.getElementById("login-username").value, document.getElementById("login-password").value, {
        success: function(user) { 
        console.log("Saved!");
        window.location = "http://www.dbshare.me"
        },
        error: function(user, error) {
           window.alert("Incorrect login. Please try again.");
           console.log(error.message);
        }
    });
  }
</script>
 
</body>
 
</html>
