<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #bdc3c7;
}

.main{
	  /*background-color: #bdc3c7;*/
}

a {
  color: #00B7FF;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	padding-left: 20px;
}

.add {
	padding: 10px;
	margin: 10px;
	background-color:  rgba(46,204,113, 1);
	border-color:  rgba(46,204,113, 1);
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.listing{
	background: rgba(46,204,113, .7);
	height: 400px;
	border-radius: 10px;
}

.buy{
	border-radius: 5px;
	background-color: white;
	margin-left: 0px;
	margin-top: 10px;
}